<!DOCTYPE html>
<html>

<head>
    <title>Login - MOVIEHUB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="auth-container">
        <div class="auth-card">
            <h1 style="color: white;">Sign In</h1>
            <form action="/login" method="POST">
                <input type="text" name="username"
                    style="width: 100%; padding: 12px; margin: 15px 0; background: #333; border: none; color: white;"
                    placeholder="Username" required>
                <input type="password" name="password"
                    style="width: 100%; padding: 12px; margin-bottom: 20px; background: #333; border: none; color: white;"
                    placeholder="Password" required>
                <input type="email" name="email"
                    style="width: 100%; padding: 12px; margin-bottom: 20px; background: #333; border: none; color: white;"
                    placeholder="Email" required>
                <button type="submit"
                    style="width: 100%; padding: 12px; background: #e50914; color: white; border: none; cursor: pointer; font-weight: bold;">Sign
                    In</button>
            </form>
            <p style="margin-top: 15px; color: #737373;">New to MOVIEHUB? <a href="/register"
                    style="color: white; text-decoration: none;">Sign up now.</a></p>
        </div>
    </div>
</body>

</html>